*~
*.pyc
RemoteSystemsTempFiles/
**/_build/*
**/__pycache_
build/
dist/
images/
examples/
*.egg-info/
*.egg
.eggs/
.snakemake*
.DS_Store
.metadata*
*.bak
logs/
target/
test_data/
.idea/
.Rproj.user/
.project
.pydevproject
.pypirc
